In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
customers=pd.read_csv("/home/crnox95/ds4a_project/data/csv/customers.csv",sep=',')
articles=pd.read_csv("/home/crnox95/ds4a_project/data/csv/articles.csv", sep=',')
transactions_train=pd.read_csv("/home/crnox95/ds4a_project/data/csv/transactions_train.csv",sep=',')

In [19]:
customers_age = customers[['customer_id','age']]
transaction_cp = transactions_train.merge(customers_age, on='customer_id', how='left')
articulos_cp = articles[['article_id','prod_name','graphical_appearance_name','colour_group_name','index_group_name','product_type_name']]
transaction_cp2 = transaction_cp.merge(articulos_cp, on='article_id', how='left')
transaction_cp2.head(1)

,t_dat,customer_id,article_id,price,sales_channel_id,age,prod_name,graphical_appearance_name,colour_group_name,index_group_name,product_type_name
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2.0,24.0,Atlanta Push Body Harlow,Solid,Black,Ladieswear,Underwear body

In [21]:
group_categories_colors= articles.groupby(['index_group_name'])['colour_group_name'].value_counts().to_frame()
group_categories_colors = group_categories_colors.rename(columns={'colour_group_name':'count'})
group_categories_colors = group_categories_colors.reset_index()
group_categories_colors.head(10)

  index_group_name colour_group_name  count
0    Baby/Children         Dark Blue   6267
1    Baby/Children             Black   3478
2    Baby/Children        Light Pink   3322
3    Baby/Children             White   3269
4    Baby/Children              Grey   2345
5    Baby/Children              Blue   1436
6    Baby/Children        Light Blue   1196
7    Baby/Children               Red   1095
8    Baby/Children        Light Grey    936
9    Baby/Children    Greenish Khaki    901