In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
customers=pd.read_csv("/home/crnox95/ds4a_project/data/csv/customers.csv",sep=',')
articles=pd.read_csv("/home/crnox95/ds4a_project/data/csv/articles.csv", sep=',')
transactions_train=pd.read_csv("/home/crnox95/ds4a_project/data/csv/transactions_train.csv",sep=',')

In [3]:
customers_age = customers[['customer_id','age']]
transaction_cp = transactions_train.merge(customers_age, on='customer_id', how='left')
articulos_cp = articles[['article_id','prod_name','graphical_appearance_name','colour_group_name','index_group_name','product_type_name']]
transaction_cp2 = transaction_cp.merge(articulos_cp, on='article_id', how='left')
transaction_cp2.head(1)

,t_dat,customer_id,article_id,price,sales_channel_id,age,prod_name,graphical_appearance_name,colour_group_name,index_group_name,product_type_name
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2.0,24.0,Atlanta Push Body Harlow,Solid,Black,Ladieswear,Underwear body

In [4]:
group_categories_colors= articles.groupby(['index_group_name'])['colour_group_name'].value_counts().to_frame()
group_categories_colors = group_categories_colors.rename(columns={'colour_group_name':'count'})
group_categories_colors = group_categories_colors.reset_index()
group_categories_colors.head(10)

  index_group_name colour_group_name  count
0    Baby/Children         Dark Blue   6267
1    Baby/Children             Black   3478
2    Baby/Children        Light Pink   3322
3    Baby/Children             White   3269
4    Baby/Children              Grey   2345
5    Baby/Children              Blue   1436
6    Baby/Children        Light Blue   1196
7    Baby/Children               Red   1095
8    Baby/Children        Light Grey    936
9    Baby/Children    Greenish Khaki    901

In [6]:
df = pd.read_csv('../data/csv/piechart.csv')
df

     Unnamed: 0  mes   a√±o index_group_name  cantidad
0             0    1  2019    Baby/Children     93336
1             1    1  2019          Divided    290913
2             2    1  2019       Ladieswear    756378
3             3    1  2019         Menswear     56582
4             4    1  2019            Sport     66262
..          ...  ...   ...              ...       ...
120         120   12  2019    Baby/Children     33567
121         121   12  2019          Divided    223286
122         122   12  2019       Ladieswear    733324
123         123   12  2019         Menswear     90365
124         124   12  2019            Sport     37773

[125 rows x 5 columns]